@import "tailwindcss";

@font-face {
  font-family: "Generalsans";
  src: url("/fonts/general-sans/GeneralSans-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
  font-style: normal;
}

:root {
  --background: #0a0a0a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: "Generalsans", sans-serif;
}

.font-ibmplexmono {
  font-family: "IBM Plex Mono", sans-serif;
}

.footer-link {
  @apply text-white text-[18.2px] md:text-[21px] font-extrabold
        transition-colors duration-300 delay-75 
        lg:leading-[25px] lg:tracking-[-0.2px]
        hover:text-[#ad7b00];
}

.social-pill {
  @apply flex items-center gap-[0.5em]
        py-[11.2px] px-[7px] md:p-[11.2px]
        rounded-full
        transition-colors duration-300 delay-75
        hover:bg-[#2b2b2b];
}

.social-pill-text {
  @apply text-[12px] md:text-[14px] 
        text-[#888888] uppercase 
        transition-colors duration-300 delay-75;
}

.social-pill-icon {
  @apply w-[14px] h-[14px] 
  text-[#888888]
  transition-colors duration-300 delay-75;
}

.social-pill:hover .social-pill-text,
.social-pill:hover .social-pill-icon {
  @apply text-white;
}
